
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Autoconf
m4
aclocal.m4
autom4te.cache
config.h.in
config.log
config.status
configure
libtool
Makefile.in

# build
.build*
build
cmake-build-*

#tools
.vscode
.idea
CMakeLists.txt.user

#log
*.log

# Documents
doc

# Python
__pycache__/
venv/
*.py[cod]
