[Unit]
Description=OT-commissioner daemon.

[Service]
Type=simple
ExecStart=/usr/bin/python -u /usr/bin/commissionerd.py -c /usr/bin/commissioner-cli

[Install]
WantedBy=multi-user.target
