#
#  Copyright (c) 2020, The OpenThread Commissioner Authors.
#  All rights reserved.
#
#  Redistribution and use in source and binary forms, with or without
#  modification, are permitted provided that the following conditions are met:
#  1. Redistributions of source code must retain the above copyright
#     notice, this list of conditions and the following disclaimer.
#  2. Redistributions in binary form must reproduce the above copyright
#     notice, this list of conditions and the following disclaimer in the
#     documentation and/or other materials provided with the distribution.
#  3. Neither the name of the copyright holder nor the
#     names of its contributors may be used to endorse or promote products
#     derived from this software without specific prior written permission.
#
#  THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
#  AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
#  IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
#  ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE
#  LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
#  CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
#  SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
#  INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN
#  CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE)
#  ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE
#  POSSIBILITY OF SUCH DAMAGE.
#

name: Build

on: [push, pull_request]

jobs:

  cancel-previous-runs:
    runs-on: ubuntu-22.04
    steps:
      - uses: rokroskar/workflow-run-cleanup-action@master
        env:
          GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
        if: "github.ref != 'refs/heads/main'"

  pretty:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3
      - name: Bootstrap
        run: |
          sudo apt update
          script/bootstrap.sh
      - name: Check
        run: |
          script/make-pretty check

  gcc-build:
    name: gcc-${{ matrix.gcc_ver }}
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        gcc_ver: [5, 6, 7, 8, 9, 10]
    steps:
      - uses: actions/checkout@v3
      - name: Install CMake 3.20.1
        run: |
          wget https://cmake.org/files/v3.20/cmake-3.20.1.zip
          unzip cmake-3.20.1
          cd cmake-3.20.1
          cmake .
          make -j4
          sudo make install
          cmake --version
      - name: Bootstrap
        run: |
          script/bootstrap.sh
      - name: Build
        run: |
          gcc --version
          mkdir build && cd build
          cmake -GNinja                           \
                -DBUILD_SHARED_LIBS=ON            \
                -DCMAKE_CXX_STANDARD=11           \
                -DCMAKE_CXX_STANDARD_REQUIRED=ON  \
                -DCMAKE_BUILD_TYPE=Release        \
                -DCMAKE_INSTALL_PREFIX=/usr/local \
                -DOT_COMM_WARNING_AS_ERROR=ON     \
                ..
          ninja
          sudo ninja install
          commissioner-cli -v
          ./tests/commissioner-test
          ./tests/commissioner-app-test
          ./tests/job-manager-test
          ./tests/interpreter-test

  clang-build:
    name: clang-${{ matrix.clang_ver }}-${{ matrix.build_type }}
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        clang_ver: [5, 6, 7, 8, 9, 10, 11]
        build_type: ["Debug", "Release"]
    steps:
      - uses: actions/checkout@v3
      - name: Bootstrap
        run: |
          script/bootstrap.sh
      - name: Build
        run: |
          clang --version
          mkdir build && cd build
          cmake -GNinja                                     \
                -DBUILD_SHARED_LIBS=ON                      \
                -DCMAKE_CXX_STANDARD=11                     \
                -DCMAKE_CXX_STANDARD_REQUIRED=ON            \
                -DCMAKE_BUILD_TYPE=${{ matrix.build_type }} \
                -DCMAKE_INSTALL_PREFIX=/usr/local           \
                -DOT_COMM_WARNING_AS_ERROR=ON               \
                ..
          ninja
          sudo ninja install
          commissioner-cli -v
          ./tests/commissioner-test
          ./tests/commissioner-app-test
          ./tests/job-manager-test
          ./tests/interpreter-test

  macos:
    runs-on: macos-14
    steps:
      - uses: actions/checkout@v3
      - name: Bootstrap
        run: |
          script/bootstrap.sh
      - name: Build
        run: |
          mkdir build && cd build
          cmake -G"Unix Makefiles"                \
                -DCMAKE_CXX_STANDARD=11           \
                -DCMAKE_CXX_STANDARD_REQUIRED=ON  \
                -DCMAKE_BUILD_TYPE=Release        \
                -DCMAKE_INSTALL_PREFIX=/usr/local \
                -DOT_COMM_WARNING_AS_ERROR=ON     \
                ..
          make -j2
          sudo make install
          commissioner-cli -v
          ./tests/commissioner-test
          ./tests/commissioner-app-test
          ./tests/job-manager-test
          ./tests/interpreter-test

  android-ndk:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3
      - name: Bootstrap
        run: |
          script/bootstrap.sh
      - name: Build
        run: |
          cd android
          ANDROID_ABI=armeabi-v7a ANDROID_NDK_HOME=$(find $ANDROID_HOME/ndk -name "26.*") ./build-commissioner-libs.sh
          ANDROID_ABI=arm64-v8a ANDROID_NDK_HOME=$(find $ANDROID_HOME/ndk -name "26.*") ./build-commissioner-libs.sh

  java-binding:
    runs-on: macos-14
    steps:
      - uses: actions/checkout@v3
      - name: Bootstrap
        run: |
          script/bootstrap.sh
      - name: Build
        run: |
          mkdir build && cd build
          cmake -GNinja                          \
                -DBUILD_SHARED_LIBS=ON           \
                -DCMAKE_CXX_STANDARD=11          \
                -DCMAKE_CXX_STANDARD_REQUIRED=ON \
                -DCMAKE_BUILD_TYPE=Release       \
                -DOT_COMM_JAVA_BINDING=ON        \
                -DOT_COMM_WARNING_AS_ERROR=ON    \
                ..
          ninja

  fmt-format-check:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3
      - name: Bootstrap
        run: |
          script/bootstrap.sh
      - name: Build
        run: |
          mkdir build && cd build
          cmake -GNinja                           \
                -DBUILD_SHARED_LIBS=ON            \
                -DCMAKE_CXX_STANDARD=14           \
                -DCMAKE_CXX_STANDARD_REQUIRED=ON  \
                -DCMAKE_BUILD_TYPE=Release        \
                -DCMAKE_INSTALL_PREFIX=/usr/local \
                -DOT_COMM_WARNING_AS_ERROR=ON     \
                ..
          ninja
